*.slo
*.lo
*.o
*.obj
*.elf

*.gch
*.pch

*.so
*.dylib
*.dll

*.lib
*.a

*.exe
*.out
*.app

.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.vcproj
*.vcproj.*

x64/

.DS_Store

Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
